<div class = "bs-danger-rgb">
<div class="d-flex align-items-center justify-content-center">
   <h1>
   42i Challenge
   <h1>
</div>
<div class="d-flex align-items-center justify-content-center">
   <h2>
   Daniela Roldán
   <h2>
</div>
<h5>Challenges técnicos a realizar</h5>
<ul>
   <li><%= link_to "Two Number Sum challenge", "https://42i.notion.site/Two-Number-Sum-83fced39cc3b4bb698c365fffa7b9444" %></li>
   <li><%= link_to "Non-Constructible Change challenge", "https://42i.notion.site/Non-Constructible-Change-e423c9af05c64621a40bf9dcefee3930" %></li>
</ul>
<h5>Requisitos para la Corrección</h5>
<p>Al momento de la corrección se evaluarán y serán necesarios los siguientes puntos:</p>
<ul>
   <li><strong>Entrega en tiempo y forma</strong></li>
   <li><strong>Código funcional y documentado</strong></li>
   <li><strong>Enlace del repositorio de Github:</strong> Se deberá enviar el enlace del repositorio de Github donde se encuentre la solución a ambos challenges</li>
   <li><strong>Armado de Readme:</strong> Con instrucciones de cómo ejecutar el código</li>
   <li><strong>Test unitarios</strong></li>
</ul>
<p>Los siguientes puntos no son necesarios en la entrega, pero sí suman:</p>
<ul>
   <li><strong>Virtualización del ambiente de desarrollo (Docker)</strong></li>
   <li><strong>Linter / Checkstyle</strong></li>
   <li><strong>Interfaz web:</strong> Para ejecutar la solución</li>
</ul>
</div class = "bs-danger-rgb">